.fancy-header {
    color: purple;
    text-decoration: underline;
}

h1.fancy-header {
    text-align: Center;
}

h2.fancy-header {
    color: cadetblue;
    text-decoration: underline;
}

body {
    background-color: darkgoldenrod;
    background-image: url("../img/office-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica;
    font-size: 16px;
}

ul {
    list-style: square;
}

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: darkorange;
}

a:hover {
    color: hotpink;
    background-color: #EF0;
}

a:active {
    color: black;
}
